---
layout: layout
title: Adam Fairhead
class: home
---
{% for post in site.posts limit:1 %}
<article>
  <header>
    <h1>{{ post.title }}</h1>
    <p class="meta">Published {{ post.date | date_to_string }}</p>
  </header>
  <div role="main">
    {{ post.content }}

    <ul>
      <!--<li><a href="#">Get notified when I write something new</a></li>-->
      {% if post.next.url %}
      <li>Next article: <a href="{{ post.next.url }}" title="{{ post.next.title }}">"{{ post.next.title }}"</a></li>
      {% endif %}
      {% if post.previous.url %}
      <li>Previous article: <a href="{{ post.previous.url }}" title="{{ post.previous.title }}">"{{ post.previous.title }}"</a></li>
      {% endif %}
    </ul>
  </div>
</article>
{% endfor %}
